
@model WebApplication4.Models.Task
<div class="panel panel-info">
    <div class="panel-heading" style="font-size:20px">
        <h2>List of Tasks</h2>
    </div>
    <p>
        @Html.ActionLink("Create New Task", "CreateTask", null, new { @class = "btn btn-sm btn-primary" })
    </p>

    <h2>Details</h2>

    <div>
        <h4>Task</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.TaskName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TaskName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.StartDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StartDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FinishDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FinishDate)
            </dd>

    

            <dt>
                @Html.DisplayNameFor(model => model.TaskList.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TaskList.Name)
            </dd>

        </dl>
    </div>

</div>
